@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive|Bungee+Inline|Pacifico|Vibur");
@import url("https://use.typekit.net/hqo7xxg.css");
@import url("https://use.typekit.net/hqo7xxg.css");

@media (min-width: 500px) {
  #about ul {
    padding: 0;
    margin: 0;
  }

  #about li {
    list-style: none;
  }

  .about-header {
    letter-spacing: 1rem !important;
    text-transform: uppercase !important;
  }

  body {
    /* Image credit to https://unsplash.com/@designecologist */
    width: 100vw;
    height: 100vh;
    background: url("./images/background.png");
    background-position: center;
    background-size: cover;
  }
  .contact-form {
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: auto;
  }

  .contact-form input[type="email"],
  .contact-form textarea,
  .contact-form a {
    width: 500px;
    display: block;
    margin: 1rem auto;
  }

  .contact-form a {
    background-color: black;
    color: white;
    font-family: orator-std, monospace !important;
    font-weight: 400 !important;
    font-style: normal !important;
    letter-spacing: 0.3rem !important;
    font-size: 15px;
  }

  #contact-header {
    font-family: orator-std, monospace !important;
    font-weight: 400 !important;
    font-style: normal !important;
    letter-spacing: 0.3rem !important;
    font-size: 30px;
  }

  #home-container {
    font-family: orator-std, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    position: absolute;
    width: 50%;
    top: 27%;
    left: 24%;
  }

  #logo {
    font-family: marydale, sans-serif !important;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 7rem;
    position: relative;
    padding: 10rem 0 0rem 0 !important;
    margin: 20rem 0 20rem 0 !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }

  #navbar {
    position: absolute;
    bottom: 18%;
    left: 23%;
    font-family: orator-std, monospace !important;
    font-weight: 400 !important;
    font-style: normal !important;
    letter-spacing: 0.3rem !important;
    font-size: 15px;
    max-width: 50%;
    /* margin: 1rem 25% !important; */
  }
  .school {
    margin-top: 5rem;
    margin-bottom: 0;
  }
  #social {
    position: absolute;
    bottom: 15%;
    z-index: 0;
  }

  #social a {
    text-decoration: none;
    color: black;
  }

  #social a:hover {
    color: #fff;
  }
}

@media (max-width: 500px) {
  #about,
  #project-container,
  #resume,
  #contact-container {
    margin-top: 20%;
    font-size: 0.6rem;
  }

  #about ul {
    padding: 0;
    margin: 0;
  }

  #about li {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
  }

  .about-header {
    font-size: 1rem !important;
    letter-spacing: 0.3rem !important;
    text-transform: uppercase !important;
  }
  body {
    /* Image credit to https://unsplash.com/@designecologist */
    width: 100vw;
    height: 100vh;
    background: url("./images/responsive.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .contact-form {
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: auto;
  }

  .contact-form input[type="email"],
  .contact-form textarea,
  .contact-form a {
    width: 70vw;
    display: block;
    margin: 1rem auto;
  }

  .contact-form a {
    background-color: black;
    color: white;
    font-family: orator-std, monospace !important;
    font-weight: 400 !important;
    font-style: normal !important;
    letter-spacing: 0.3rem !important;
    font-size: 10px;
  }

  #contact-header {
    font-family: orator-std, monospace !important;
    font-weight: 400 !important;
    font-style: normal !important;
    letter-spacing: 0.1rem !important;
    font-size: 20px;
  }
  #home-container {
    font-family: orator-std, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    position: absolute;
    top: 38%;
    left: 32%;
  }
  #logo {
    font-family: marydale, sans-serif !important;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 3rem;
    position: relative;
    padding: 10rem 0 10rem 0 !important;
    margin: 20rem 0 17rem 0 !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  #navbar {
    font-family: orator-std, monospace !important;
    font-weight: 400 !important;
    font-style: normal !important;
    letter-spacing: 0.1rem !important;
    font-size: 0.5rem;
    max-width: 50%;
    margin: 0rem 25% !important;
  }

  .school {
    font-size: 0.8rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  #social {
    position: absolute;
    top: 18%;
    left: 27%;
    z-index: 0;
  }

  #social a {
    text-decoration: none;
    color: black;
  }
  #social a:hover {
    color: #fff;
  }
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

#main-container {
  margin-top: 2rem;
}

#window {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
